<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@media screen and (min-width: 500px)  {}
    grid-template-columns{
        grid-template-columns: 1fr 1fr;
    }
    header{
        background-color: black;
        color: white;
    }
=======
@media screen and (min-width: 500px) {
    grid-template-columns: 1fr 1fr;
}
>>>>>>> b32c4c1 (wdd230)
=======
@media screen and (min-width: 500px) {}
    grid-template-columns{
        grid-template-columns: 1fr 1fr;
    }    
>>>>>>> 3263941 (FirstFix)
=======
@media screen and (min-width: 500px)  {}
    grid-template-columns{
        grid-template-columns: 1fr 1fr;
    }
    header{
        background-color: black;
        color: white;
    }
>>>>>>> 376b116 (Media)
