/* base.css */

:root {
    --primary-color: #3498db; /* Blue */
    --secondary-color: #2ecc71; /* Green */
    --background-color: #ecf0f1; /* Light Grey */
    --header-color: #047a98; /* BYU Blue */
    --text-color: #2c3e50; /* Dark Grey */
    --accent-color: #ecdf1ed0; /* Red */
    --white: #ffffff;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    
}



header {
    background-color: var(--header-color);
    font-family: 'Arial', sans-serif;
    display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#profile-picture {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    align-items: center;
    object-fit: cover;
    margin-right: 20px;
}

#profile-name{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav{
    display: inline;
    background-color: black;
}


#home {
    background-color: rgb(102, 41, 41);
    margin-right: 0;
}

h1 {
    color: var(--text-color);
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    margin: 15;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
}

h2 {
    background-color: #047a98;
    color: white;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 10px;
    display: flex-inline;
    align-items: center;
    justify-content: center;

}
.card {
    position: relative;
    margin-right: 0;
    display: inline-flexbox;
    align-items: center;
    background-color: var(--background-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.2;
    color: var(--text-color);
}

section ul li {
    list-style: none;
    padding: 25px;
    display: flex-inline;
    position: relative;
    top: 10px;
    bottom: 33px;
}

#card-weather {
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    color: var(--text-color);
    letter-spacing: 1px;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.local {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: var(--header-color);
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
}